<% @secrets.each do |secret| %>
  <h2><%= secret.content %></h2>
  <h3><%= secret.likes.count %></h3>
  <% if current_user == secret.user %>
    <form action="/secrets/<%= secret.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Secret">
    </form>
  <% end %>
<% end %>
